<html>
    <head>
        <title>Dashboard | ChillUML</title>
        <link rel="stylesheet" href="./style2.css">
    </head>
    <body>
        <main>
            <div class="container">
                <div class="toolbar">
                    <input placeholder="Search Project" type="text">
                    <button class="create">Create</button>
                    <button>Edit</button>
                    <button class="delete">Delete</button>
                </div>
                <div class="projects">

                </div>
            </div>
        </main>
    </body>
</html>