<html>
    <head>
        <title>Project {Selected Project} | ChillUML</title>
        <link rel="stylesheet" href="./style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
    <style>
        main{
            display: flex;
            justify-content: center;
        }
    </style>
    <body>
        <main>

            <div class="selected-project">
                <div class="project-info">
                    <h1>Title</h1>
                    <h2>Owner</h2>
                    <p>Project about material</p>
                </div>
                <hr>
                <div class="project-material">

                    <div class="crc">
                        <h1 class="title">CRC Card #1</h1>
                        <h2 class="class">Class: Use Case Nigga</h2>
                        <h2 class="uc">Use Case: US Card #1</h2>
                        <table>
                            <tr>
                                <th>Responsibilities</th>
                                <th>Collaboratios</th>
                            </tr>
                            <tr>
                                <td>Create a custom data type</td>
                                <td>What</td>
                            </tr>
                        </table>
                    </div>

                    <div class="uc">
                        <h1 class="title">UC Card #1</h1>
                        <h2 class="subtitle">Actor:</h2>
                    </div>
                </div>
                <hr>
            </div>


            <div class="notifications info"></div>
        </main>
    </body>
</html>