<html>
    <head>
        <title>Project {Selected Project} | ChillUML</title>
        <link rel="stylesheet" href="./style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
    <style>
        main{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <body>
        <main>

            <div class="selected-project">
                <div class="project-info">
                    <h1>Title</h1>
                    <h2>Owner</h2>
                    <p>Project about material</p>
                </div>
                <div class="project-material">
                    <div class="crc">

                    </div>
                    <div class="uc">

                    </div>
                </div>
            </div>

            <div class="notifications info"></div>
        </main>
    </body>
</html>