<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dashboard | ChillUML</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
    <style>
        main{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <body>

        <nav>
            <div class="nav-left">
                <div onclick="window.location.href='/dashboard'" class="logo">
                    <img th:src="@{/assets/image/logo.png}" alt="">
                </div>
                <h1 class="page-title">Dashboard</h1>
            </div>
            
            <div class="nav-right">
                <div class="user-dropdown-container">
                    <button class="user-avatar">
                        <img th:src="@{/assets/image/freddo.png}" alt="User Profile">
                    </button>
                    <div class="dropdown-menu">
                        <div class="dropdown-header">Ο λογαριασμός μου</div>
                        <a th:href="@{/profile}" class="dropdown-item">Προφίλ</a>
                        <div class="dropdown-divider"></div>
                        <a th:href="@{/auth/logout}" class="dropdown-item text-danger">Αποσύνδεση</a>
                    </div>
                </div>
            </div>
        </nav>

        <main>
            <div class="projects">
                <div class="toolbar">
                    <input type="text" id="search-project" placeholder="Search Project">
                    <button class="delete" disabled>Delete</button>
                    <button>Edit</button>
                    <button class="create">Create</button>
                </div>
                <div class="project-list">
                    <div class="project">
                        <input type="checkbox">
                        <span class="project-name">Project A</span>
                        <span class="project-owner">KonstantinosPC</span>
                        <span class="project-edition">10 Dec 2025</span>
                    </div>
                    <div class="project">
                        <input type="checkbox">
                        <span class="project-name">Project B</span>
                        <span class="project-owner">KonstantinosPC</span>
                        <span class="project-edition">25 Dec 2025</span>
                    </div>
                    <div class="project">
                        <input type="checkbox">
                        <span class="project-name">Project C</span>
                        <span class="project-owner">KonstantinosPC</span>
                        <span class="project-edition">1 Jan 2026</span>
                    </div>
                    
                </div>

                <h1 class="shared-project">
                    Shared Projects
                </h1>

                <div class="project-list">
                    <div class="project">
                        <input type="checkbox">
                        <span class="project-name">Project D</span>
                        <span class="project-owner">Tasos</span>
                        <span class="project-edition">30 Jan 2026</span>
                    </div>
                    <div class="project">
                        <input type="checkbox">
                        <span class="project-name">Project E</span>
                        <span class="project-owner">Anagno</span>
                        <span class="project-edition">2 Jan 2026</span>
                    </div>
                </div>
            </div>


            <div class="notifications">
            </div>
        </main>

        <script>
            const searchBar = document.getElementById("search-project");
            const projects = document.querySelectorAll(".project");

            searchBar.addEventListener('input', () => {
                const filter = searchBar.value.toLowerCase();

                projects.forEach(project => {
                    const projectName = project.querySelector(".project-name").textContent.toLowerCase();

                    if(projectName.includes(filter)){
                        project.style.display = "flex";
                    }else{
                        project.style.display = "none";
                    }

                });
            });
        </script>
    </body>
</html>