<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login | ChillUML</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="shortcut icon" th:href="@{/assets/image/logo.png}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
    <body>

        <style>
            body{
                background: black;
            }
            main{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        </style>

        <main>
            <form th:action="@{/auth/login}" method="post" class="login">
                <h1>Login</h1>
                <input type="text" name="username" id="username" placeholder="Username" required>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <button>Submit</button>
                <p>Don't have an account? <a th:href="@{/auth/signup}">Sign Up Here</a></p>
            </form>

            <div class="notifications">
            </div>
        </main>
    </body>
</html>